<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("../partials/head")  %> 
    
</head>
<body>
    

   <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active ps-5" style="background-color: grey;color: white;" aria-current="true">
                            Categories
                        </a>
                    <% kategori.forEach(a => { %>
                     
                            <a href="/blogs/category/<%-a.id%>" style="background-color: purple; color: white;" class="list-group-item list-group-item-action"><%=a.name %></a>
                           
                         
                        
                    <% }) %>
                </div>
                    
                   
                </div>
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3" style="font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Anasayfa</h1>
                <div class="row">
                    <% anılar.forEach(a => { %>
                        <div class="col-md-6 mb-5">
                            <div class="card">
                                <img src="/static/images/<%= a.resim %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= a.name %></h5>
                                    <p class="card-text"><%- a.aciklama %></p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

</body>
</html>